/* Fernando José González Sierra UO277938 */

/* 
    Colores: 
    rojo: #ff5c4d  
    naranja: #ffcd58  
    amarillo: #ffcd58  
    verde: #dad870
*/

/* especificidad 0-0-1 */
body {
    font-family: 'Arial Black', "Arial Bold", sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    background-color: #dad870;
    color: #ffcd58;
}

/* especificidad 0-0-1 */
header {
    background-color: #ffcd58;
}

/* especificidad 0-0-1 */
h1 {
    color: #ff5c4d;
}

/* especificidad 0-0-1 */
nav {
    color: #ffcd58;
}